<mat-toolbar color="primary">
  <span [routerLink]="['/']" style="cursor: pointer;">EventManager</span>
  <span class="example-spacer"></span>
  <span style="margin-right: 20px;" *ngIf="auth.user$ | async as user">Welcome {{user.name}}</span>
  <span style="margin-right: 20px; cursor: pointer;" *ngIf="auth.user$ | async as user" [routerLink]="['/add-event']">Create Event</span>
  <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <span><a style="cursor: pointer;" (click)="logout()">Logout</a></span>
  </ng-container>
  <ng-template #loggedOut>
    <span><a style="cursor: pointer;" (click)="login()">Login</a></span>
  </ng-template>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-toolbar class="footer">
  <div class="text-center w-100">
    <p class="small text-secondary">
      © {{ year }} EventManager by
      <a class="brand bold" href="https://abdulify.com"
        >Abdullahi Yusuf</a
      >
      All Rights Reserved.
    </p>
  </div>
</mat-toolbar>